* {
    font-family: "Inter", sans-serif;
}

body {
    background-color: #ffffff;
    margin: 0 0 0 5%;
}
.wrapper {
    display: flex;
}

.wrapper-content {
    max-width: 700px;
    height: 706px;
}

.wrapper-tab {
    margin-top: 120px;
    width: 500px;
    height: 700px;
    margin-left: 50px;
}

.wrapper-title {
    padding-bottom: 22px;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin-top: 60px;
}

button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin: 10px;
}

.search {
    display: flex;
}

@import "button.scss";
@import "tag.scss";
@import "tab.scss";
